body {
    font-family: Arial;
    background-color:rgb(236, 224, 202);
    width: 90%;
    margin: 30px
}

header {
    background-color:rgb(196, 232, 233);
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: gray;
}
nav {
    background-color:white;
    font-size: 20px;
    padding: 10px;
}

ul {
    list-style: none;
}

h1 {
    color:gray;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
}

div {
    float: left;
    padding: 40px;
    width: 50%;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(184, 172, 157, 0.363);
}

p {
    font-size: 20px;
}

aside {
    float: right;
}