body {
    font-family: Arial;
    background-color:rgb(236, 224, 202);
    width: 90%;
    margin: 30px
}
{
    box-sizing: border-box;
  }

div {
    float: right;
    width: 45%;
    padding: 10px;
    background-color: antiquewhite;
  }
  
}
nav ul { list-style-type: none; } 
nav a { text-decoration: none; } 

nav {
    float: left;
    width: 15%;
    background: rgb(255, 255, 255);
    padding: 20px;
  }