body {
    font-family: Arial;
    background-color:rgb(236, 224, 202);
    width: 95%;
    margin: 30px
}
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
{
    box-sizing: border-box;
  }

div {
    float: right;
    width: 70%;
    xpadding: 10px;
    background-color: antiquewhite;
  }
  
}
nav ul { list-style-type: none; } 
nav a { text-decoration: none; } 

nav {
    float: left;
    width: 30%;
    background: rgb(255, 255, 255);
    padding: 20px;
  }
  footer {
    background-color: #777;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
  }
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }